<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Warning: Calorie intake exceeded!</title>
    <style>
        body {
            background-color:  #B0E0E6;
        }


          p {
            background-color: #F8F8FF;
         }
         h1, h2 {
           color:#1E90FF;
         }
        table, th, td {
        border:1px solid brown;
        }
    </style>
</head>
<body>
<h1> Dear {{ dear_user }}, you are overload the maximum calories intake today...  </h1>
<h1>Are you having stress right now? To help stop emotional eating, try these tips:</h1>

<p>1.Keep a food diary. Write down what you eat, how much you eat, when you eat, how you're feeling when you eat and how hungry you are. Over time, you might see patterns that reveal the connection between mood and food.  <br><br>
2.Tame your stress. If stress contributes to your emotional eating, try a stress management technique, such as yoga, meditation or deep breathing. <br><br>
3. Have a hunger reality check. Is your hunger physical or emotional? If you ate just a few hours ago and don't have a rumbling stomach, you're probably not hungry. Give the craving time to pass<br><br>
4.Get support. You're more likely to give in to emotional eating if you lack a good support network. Lean on family and friends or consider joining a support group. <br><br>
5.Fight boredom. Instead of snacking when you're not hungry, distract yourself and substitute a healthier behavior. Take a walk, watch a movie, play with your cat, listen to music, read, surf the internet or call a friend. <br><br>
6.Don't deprive yourself. When trying to lose weight, you might limit calories too much, eat the same foods repeatedly and banish treats. This may just serve to increase your food cravings, especially in response to emotions. Eat satisfying amounts of healthier foods, enjoy an occasional treat and get plenty of variety to help curb cravings.  <br><br>
7.Snack healthy. If you feel the urge to eat between meals, choose a healthy snack, such as fresh fruit, vegetables with low-fat dip, nuts or unbuttered popcorn. Or try lower calorie versions of your favorite foods to see if they satisfy your craving. </p>

<h1>Don't Worry if you are overload, treat it as cheat meal and start to exercise tomorrow for a healthy lifestyle and posture! </h1>
<table>
    <tr>
        <th>Exercises</th>
        <th>Calories Burned</th>
    </tr>
    <tr>
        <td>Jogging/Running</td>
        <td>372 to 700 calories per hour</td>
    </tr>
    <tr>
        <td>Skipping Rope</td>
        <td>500-1300 calories per hour depending on weight</td>
    </tr>
    <tr>
        <td>Planking</td>
        <td>Between 2-5 calories per minute (120-300 calories per hour)</td>
    </tr>
    <tr>
        <td>Mountain Climbers Planks</td>
        <td>650 – 700 calories per hour</td>
    </tr>
    <tr>
        <td>Pull ups</td>
        <td>1 calorie per pull up</td>
    </tr>
    <tr>
        <td>Push-ups</td>
        <td>About 171 calories within 15 minutes (around 343 calories in 30 minutes)</td>
    </tr>
    <tr>
        <td>Squats</td>
        <td>19-44 calories per every 5 minutes (100-222 calories for every 25 minutes)</td>
    </tr>
    <tr>
        <td>Lunges</td>
        <td>90 calories per 15 minutes</td>
    </tr>
    <tr>
        <td>Yoga</td>
        <td>Between 180 and 460 calories per session (highly dependent on the type, intensity, duration of the session)</td>
    </tr>
</table>

<img src="https://caplanc.org/wp-content/uploads/2019/05/Exercise-GIF.gif" style="position: absolute; top: 480px; right: 120px; width: 400px;">

</body>
</html>